## 모델용 데이터 만들기

### 데이터 정리

In [ ]:
bike_df = pd.read_csv('bike_train_2.csv')
bike_df = bike_df[['rent_place_num','rent_time','holder','rent_freq']]

In [ ]:
bike_df.head()

   rent_place_num      rent_time  holder  rent_freq
0             422  2017-06-01 00       0        0.0
1             422  2017-06-01 01       0        0.0
2             422  2017-06-01 02       0        0.0
3             422  2017-06-01 03       0        0.0
4             422  2017-06-01 04       0        0.0

In [ ]:
bef_df = pd.read_csv('bike_train_0.csv')
bef_df = bef_df.groupby(['rent_place_num','rent_time']).sum()
bef_df=bef_df.reset_index()

In [ ]:
bef_df.head()

   rent_place_num      rent_time  rent_freq  holder
0             101  2017-05-31 20          2    1000
1             101  2017-05-31 21          1    1000
2             101  2017-05-31 22          2    2000
3             101  2017-05-31 23          2    2000
4             102  2017-05-31 20          2    2000

In [ ]:
final_df = pd.concat([bef_df,bike_df])
final_df.sort_values(by=['rent_place_num','rent_time'], inplace=True)
final_df.reset_index(drop=True, inplace=True)

In [ ]:
final_df.head(30)

    holder  rent_freq  rent_place_num      rent_time
0     1000        2.0             101  2017-05-31 20
1     1000        1.0             101  2017-05-31 21
2     2000        2.0             101  2017-05-31 22
3     2000        2.0             101  2017-05-31 23
4     2000        2.0             102  2017-05-31 20
5     4000        5.0             102  2017-05-31 21
6     5000        7.0             102  2017-05-31 22
7     4000        5.0             102  2017-05-31 23
8     3000        5.0             103  2017-05-31 20
9     6000        9.0             103  2017-05-31 21
10    3000        3.0             103  2017-05-31 22
11    1000        2.0             103  2017-05-31 23
12    4000        4.0             104  2017-05-31 20
13    3000        3.0             104  2017-05-31 21
14    5000        6.0             104  2017-05-31 22
15    4000        4.0             105  2017-05-31 20
16    3000        3.0             105  2017-05-31 22
17    6000        8.0             106  2017-05-31 20
18   11000       14.0             106  2017-05-31 21
19    8000       10.0             106  2017-05-31 22
20    5000        5.0             106  2017-05-31 23
21    4000        7.0             107  2017-05-31 20
22    3000        4.0             107  2017-05-31 21
23    6000        7.0             107  2017-05-31 22
24    3000        3.0             107  2017-05-31 23
25    2000        3.0             108  2017-05-31 20
26    6000        7.0             108  2017-05-31 21
27    1000        1.0             108  2017-05-31 22
28    1000        1.0             108  2017-05-31 23
29    1000        1.0             109  2017-05-31 20

### 4시간 단위 데이터 생성

In [ ]:
final_df['bef_1'] = final_df.groupby('rent_place_num')['rent_freq'].shift(1)
final_df['bef_2'] = final_df.groupby('rent_place_num')['rent_freq'].shift(2)
final_df['bef_3'] = final_df.groupby('rent_place_num')['rent_freq'].shift(3)
final_df['bef_4'] = final_df.groupby('rent_place_num')['rent_freq'].shift(4)

In [ ]:
final_df = final_df.query('rent_time> "2017-05-31 23"')

In [ ]:
final_df.isnull().sum()

holder               0
rent_freq            0
rent_place_num       0
rent_time            0
bef_1              582
bef_2             1164
bef_3             1746
bef_4             2328
dtype: int64

In [ ]:
final_df.fillna(0, inplace=True)

In [ ]:
final_df.tail()

,holder,rent_freq,rent_place_num,rent_time,bef_1,bef_2,bef_3,bef_4
5099786,15,1.0,3524,2018-05-31 19,1.0,0.0,3.0,1.0
5099787,15,1.0,3524,2018-05-31 20,1.0,1.0,0.0,3.0
5099788,15,0.0,3524,2018-05-31 21,1.0,1.0,1.0,0.0
5099789,15,1.0,3524,2018-05-31 22,0.0,1.0,1.0,1.0
5099790,15,0.0,3524,2018-05-31 23,1.0,0.0,1.0,1.0

In [ ]:
final_df = final_df.loc[:,['rent_place_num','rent_time','holder','rent_freq','bef_1','bef_2','bef_3','bef_4']]

In [ ]:
final_df.to_csv('bike_demand_train_2.csv',index=False)

In [ ]:
final_df.shape

(5098320, 8)

In [ ]:
del final_df

### 2번 나눠 생성한 데이터 결합

In [ ]:
a = pd.read_csv('bike_demand_train_1.csv')
b = pd.read_csv('bike_demand_train_2.csv')
res = pd.concat([a,b])

In [ ]:
res.shape

(11116440, 8)

In [ ]:
res.to_csv('bike_demand_train.csv',index=False)

In [ ]:
bike_df = pd.read_csv('bike_demand_train.csv')

In [ ]:
bike_df.head()

,rent_place_num,rent_time,holder,rent_freq,bef_1,bef_2,bef_3,bef_4
0,101,2017-06-01 00,5,2.0,2.0,2.0,1.0,2.0
1,101,2017-06-01 01,5,0.0,2.0,2.0,2.0,1.0
2,101,2017-06-01 02,5,0.0,0.0,2.0,2.0,2.0
3,101,2017-06-01 03,5,1.0,0.0,0.0,2.0,2.0
4,101,2017-06-01 04,5,0.0,1.0,0.0,0.0,2.0

### 거리 데이터 feature 추가

In [ ]:
loc_df = pd.read_csv('location.csv')
loc_df.drop(columns=['holder'],inplace=True)

In [ ]:
loc_df['park_dist'] = loc_df['park_dist'].map(lambda x: 0 if x<0 else x)

In [ ]:
res_df = pd.merge(bike_df, loc_df, how='left', left_on=['rent_place_num'], right_on=['rent_place_num'])

In [ ]:
res_df.shape

(11116440, 14)

In [ ]:
res_df = res_df[['rent_place_num', 'rent_time', 'rent_freq', 'bef_1', 'bef_2',
       'bef_3', 'bef_4', 'location','holder', 'subway_num', 'altitude', 'han_dist',
       'park_dist', 'park_area']]

In [ ]:
res_df.shape

(11116440, 14)

In [ ]:
res_df.head()

,rent_place_num,rent_time,rent_freq,bef_1,bef_2,bef_3,bef_4,location,holder,subway_num,altitude,han_dist,park_dist,park_area
0,101,2017-06-01 00,2.0,2.0,2.0,1.0,2.0,1144068000,5,2,6.011298,0.810084,0.559705,-0.464485
1,101,2017-06-01 01,0.0,2.0,2.0,2.0,1.0,1144068000,5,2,6.011298,0.810084,0.559705,-0.464485
2,101,2017-06-01 02,0.0,0.0,2.0,2.0,2.0,1144068000,5,2,6.011298,0.810084,0.559705,-0.464485
3,101,2017-06-01 03,1.0,0.0,0.0,2.0,2.0,1144068000,5,2,6.011298,0.810084,0.559705,-0.464485
4,101,2017-06-01 04,0.0,1.0,0.0,0.0,2.0,1144068000,5,2,6.011298,0.810084,0.559705,-0.464485

In [ ]:
res_df.to_csv('bike_demand_addloc_train.csv', index=False)

In [ ]:
del res_df, bike_df, loc_df

In [ ]:
res_df.iloc[res_df.query('holder==0').index,2:] = 0

In [ ]:
del res_df, bike_df, loc_df

### 날씨 feature 추가

In [ ]:
bike_df = pd.read_csv('bike_base_train.csv')
time_df = pd.read_csv('Inte_weather.csv')

In [ ]:
time_df.drop(columns=['rent_cnt'], inplace=True)

In [ ]:
time_df.rename(columns={'rent_num':'rent_place_num','Date':'rent_time'}, inplace=True)
time_df['rent_time'] = time_df['rent_time'].map(lambda x: x.split(':')[0])

In [5]:
bike_df.shape

(11116440, 14)

In [6]:
time_df = time_df.query('rent_time < "2018-06-01 00"')
import gc
gc.collect()

243

In [7]:
time_df.head()

,rent_place_num,rent_time,Tem,Rel_Tem,humid,Dew,Pres,Wind,SO2,CO,...,drizzle,shower,snow,sleet,haze,snow_shower,dust,hail,brume,mist
0,101,2017-06-01 00,21.0,21.0,73.0,16.0,1001.0,6.0,0.003,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,101,2017-06-01 01,21.0,21.0,73.0,16.0,1001.0,4.0,0.003,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,101,2017-06-01 02,20.0,20.0,78.0,16.0,1001.0,9.0,0.003,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,101,2017-06-01 03,20.0,20.0,83.0,17.0,1000.0,7.0,0.003,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,101,2017-06-01 04,20.0,20.0,83.0,17.0,1000.0,4.0,0.003,0.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
res_df = pd.merge(bike_df,time_df,how='left',left_on=['rent_place_num','rent_time'],right_on=['rent_place_num','rent_time'])

In [11]:
del bike_df, time_df
res_df.shape

(11116440, 36)

In [ ]:
res_df.drop(columns=['Rel_Tem','location'], inplace=True)

In [ ]:
res_df.iloc[res_df.query('holder==0').index,2:] = 0

In [14]:
res_df.shape

(11116440, 34)

In [ ]:
res_df.to_csv('bike_demand_addweather_train.csv', index=False)

In [17]:
res_df.head()

,rent_place_num,rent_time,rent_freq,bef_1,bef_2,bef_3,bef_4,holder,subway_num,altitude,...,drizzle,shower,snow,sleet,haze,snow_shower,dust,hail,brume,mist
0,101,2017-06-01 00,2.0,2.0,2.0,1.0,2.0,5,2,6.011298,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,101,2017-06-01 01,0.0,2.0,2.0,2.0,1.0,5,2,6.011298,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,101,2017-06-01 02,0.0,0.0,2.0,2.0,2.0,5,2,6.011298,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,101,2017-06-01 03,1.0,0.0,0.0,2.0,2.0,5,2,6.011298,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,101,2017-06-01 04,0.0,1.0,0.0,0.0,2.0,5,2,6.011298,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0